@import "../mixins";

.admin-panel {

  .container {
    text-align: center;
  }

  &__title {
    display: flex;
    justify-content: space-between;

    max-width: 1370px;
    border: 1px solid #111111;
    border-bottom: none;
    border-right: none;
    margin-top: 10px;

    span {
      border-right: 1px solid #111111;
    }
  }

  &__item {
    text-align: center;
  }

  .admin-panel__desc {
    width: 100px;
  }

  .admin-panel__img {
    border-bottom: none;
    width: 110px;
  }

  &__content {
    display: flex;
    justify-content: space-between;

    max-width: 1370px;
    border: 1px solid #111111;
    border-right: none;

    margin-bottom: 10px;

    &-name, &-text, &-size, &-typeCare, &-type, &-barcode, &-price, &-brand, &-image, &-producer {
      display: flex;
      align-items: center;
      flex-direction: column;

      width: 100%;
      height: 130px;
      font-size: 14px;

      border-right: 1px solid #111111;

      span {
        width: 100%;
        border-bottom: 1px solid #111111;
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
      }
    }

    img {
      width: 110px;
      height: 110px;
    }

    &-text {
      max-width: 2000px;
    }
  }

  &__button-add {
    max-width: 300px;
    margin-bottom: 20px;
  }

  &__button-delete, &__button-edit {
    width: 100px;

  }

  button {
    margin: 0 10px 20px 0;
    height: 50px;

    color: #FFFFFF;
    background: #111111;
    border-radius: 30px;
    border: none;

    cursor: pointer;

    &:active {
      transform: translateY(3px);
    }
  }
}

@include md {
  .admin-panel {

    &__items {
      overflow: hidden;
    }

    &__item {
      overflow: auto;
    }

    &__content {
      display: block;

      &-name, &-text, &-size, &-typeCare, &-type, &-barcode, &-price, &-brand, &-image, &-producer {

        border-top: 1px solid #000000;
        font-size: 11px;
        height: 100px;

        &:first-child {
          border-top: none;
        }
      }
    }

    img {
      width: 80px;
      height: 80px;
    }
  }
}