@import "../mixins";

.catalog-parameters {
  margin-right: 108px;

  &__filter {
    &-items {
      padding-bottom: 20px;
      margin-bottom: 20px;

      border-bottom: 1px dashed #111111;

      li {
        margin-bottom: 10px;

        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        color: #3F4E65;
      }

      h3 {
        cursor: pointer;
      }

      &:last-child {
        border: none;
      }
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    input {
      width: 100px;
      height: 23px;
      appearance: textfield;
      text-align: center;

      padding: 4px 14px 4px 14px;

      background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
      border-radius: 1000px;
      border: none;
    }

    .inputs {
      margin-top: 16px;
    }

    div:first-child {
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;

      color: #3F4E65;
      margin-bottom: 16px;
    }
  }

  &__producer {
    margin-bottom: 20px;

    &-items {
      margin: 15px 0 15px 0;

      label {
        cursor: pointer;
      }

      input {
        cursor: pointer;
        margin-right: 15px;
      }

      li {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;

        color: #3F4E65;
      }
    }

    &-show {
      cursor: pointer;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;

      border: none;
      background: none;
      color: #3F4E65;

      svg {
        margin-bottom: 1px;
      }
    }
  }

  .active {
    padding-left: 2px;
    border-radius: 10px;

    color: #ffffff;
    background: #ffc85e;
  }
}

@include lg {
  .catalog {
    &-parameters {
      margin-right: 20px;

      &__inputs {
        input {
          width: 80px;
        }
      }
    }
  }
}

@include md {
  .catalog {
    &-parameters {
      display: none;
      margin-right: 20px;

      &__filter {
        display: none;
      }
    }
  }
}