@import '../mixins';

.footer {
  margin-top: auto;
  background: #3F4E65;
  padding: 70px 0 110px 0;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    &__text {
      color: #ffffff;
      margin: 15px 0 45px 0;
    }

    &__mail {
      color: #ffffff;
      margin-bottom: 15px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;

      a {
        margin-right: 10px;
      }
    }
  }

  &-nav {
    display: flex;
    justify-content: space-between;

    &__list {
      margin-left: 80px;
      color: #ffffff;

      li {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 14px;

        &:first-child {
          margin-bottom: 25px;

          font-weight: 600;
          font-size: 20px;
        }

        svg {
          margin-right: 5px;
        }
      }

      &__bonds {
        margin-top: 20px;
      }

      &__bonds-whats {
        margin-right: 10px;
      }

      &-number {
        color: #ffffff;
        font-weight: 600;
        font-size: 14px;

        margin-bottom: 5px;
      }

      &-mail {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
      }

      &-text {
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
      }

      &-clock {
        color: #ffffff;
        font-weight: 300;
        font-size: 12px;
      }

      &-call {
        color: #ffffff;
        font-weight: 400;
        font-size: 10px;

        text-decoration-line: underline;
      }
    }
  }
}

@include lg {
  .footer {

    &-logo {
      &__text {
        font-size: 14px;
        margin-bottom: 25px;
      }
    }

    &-nav__list {
      margin-left: 40px;

      li {
        font-size: 12px;

        &:first-child {
          font-size: 14px;
        }
      }

      &-visa {
        width: 50px;
      }

      &-master {
        width: 50px;
      }
    }
  }
}

.footer-nav__bonds {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  margin-bottom: 15px;

  svg {
    margin-right: 5px;
  }
}

@include md {
  .footer {
    display: none;
  }
}